/* Variables */
:root {
    --celeste: #037bc0;
    --negro: #000000;
    --grisClaro: #e1e1e1;
    --blanco: #FFFFFF;
}

/* Border Box estandar*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Raleway', sans-serif;
}
/* Globales */
h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
}
a {
    text-decoration: none;
    color: var(--negro);
}
img {
    max-width: 100%;
    display: block;
}
.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

/* Propiedades */
.text-center {
    text-align: center;
}

/* Header y Navegacion*/
.nombre-sitio {
    text-align: center;
}
.nombre-sitio span {
    color: var(--celeste);
}

.contenedor-navegacion {
    border-top: 1px solid var(--grisClaro);
}

.nav-principal {    
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.hero {
    height: 550px;
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Categorias */

.listado-categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.categoria a {
    display: block;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
}

.categoria a:hover {
    background-color: var(--celeste);
    color: var(--blanco);
    transition: .3s;
    border-bottom-right-radius: 8px;
}

