/* Variables */
:root {
    --celeste: #037bc0;
    --negro: #000000;
    --grisClaro: #e1e1e1;
}

/* Border Box estandar*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Globales */
a {
    text-decoration: none;
    color: var(--negro);
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header y Navegacion*/
.nombre-sitio {
    text-align: center;
}
.nombre-sitio span {
    color: var(--celeste);
}

.contenedor-navegacion {
    border-top: 1px solid var(--grisClaro);
}

.nav-principal {    
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.hero {
    height: 550px;
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}